.App {
  text-align: center;
}

ol.carousel-indicators li{
  background-color:black;
  padding:0;
}
ol.carousel-indicators{
  background-color: white;
  margin:0;
  padding:0;
}

.carousel-control-next, .carousel-control-prev{
  width: unset !important;
  opacity: unset !important;
}
.btnn{
  font-size: 2rem !important;
  border-radius: 1rem !important;
}
.jumb{
  height: 40vh !important;
}
.text-container{
  height: 260px;
}
p.petition-desc{
  height: 150px;
  overflow: hidden;
}
.nav-head{
  font-size: 1.25rem !important;
  font-weight: 700 !important;
}
h1.disc{
  font-size: 4rem;
}
.startPetition h1{
  font-size: 3.5rem;
  font-weight: bold;
}
.startPetition p{
  font-size: 1.3rem;
}
.icon-container{
  width: 175px;
  height: 175px;
  font-size: 1.5rem;
  border-radius: 100%;
  background-color: rgba(117, 149, 175, 0.157);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
}
.button-warn{
  font-size: 2rem !important ;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 1rem !important;
}
.container-above{
  
    min-height: 85vh;
    padding-bottom: 250px;
    margin-bottom: -250px;
  
}