.main-footer {
  margin-top: 8em;
  position: relative;
  bottom: 0;
  height: 150px;
  width: 100%;
}
.fotter-container {
  border-color: gray;
  border-width: 1px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-style: solid;
  margin-left: 1px;
  box-shadow: 5px 10px 18px gray;
}
.col-sm {
  margin-right: 78%;
}
.logo-color {
  color: green !important;
  font-family: "Brush Script MT";
  font-size: 38px !important;
  padding-left: 20px;
}
